<div class="loginsuccess">
    <p>
        @if (Session["LoaiTaiKhoan"].ToString() == "1")
        {
            <a href="/DocGia/Index">@Session["username"]</a>
        }
        else 
        { 
            <a href="/ThuThu/Index">@Session["username"]</a> 
        }
    </p>
    <p><a href="/Account/Logout">Thoát</a></p>
</div>

