@{
    ViewBag.Title = "MaThe";
    Layout = "~/Views/Share/layout_ThuThu.cshtml";
}
@section title { MaThe }
@section script{
<script src="~/Content/js/jquery.js"></script>
    }
<div>
    <input type="text" id="code" style="width: 200px">
    <input type="button" id="generate_submit" value="Generate">
</div>
<img style="width: 200px; height:150px" id="barcode" alt="barcodeimage"/>
<script>
    
    $(document).ready(function () {
        $('#code').keydown(function (e) {
            if (e.keyCode == 13) {
                $("#generate_submit").click();
            }
        })
        $("#generate_submit").click(function () {
            $.ajax({
                type: 'GET',
                url: '/barcode/MakeBarcode?code=' + $("#code").val(),
                success: function (img) {
                   //alert($("#barcode1").length);
                    var src = 'data:image/png;base64,' +img;
                    $("#barcode").attr("src", src) ;
                }
            });
        });
    });
</script>