
<link href="~/Content/css/Viet.css" rel="stylesheet" />
<input type="button" value="Use camnera" id="use_cam" style="float: right; margin-top: 10px;">
<div id="barcode">
    <div>
        <video id="video" style="margin: auto;border: 1px solid #053e5f; " width="280" height="210" autoplay></video>
     </div>
    <div>
        <button id="start">Start camera</button>
        <button id="stop">Stop camera</button>
        <canvas id="canvas" width="280" height="210" style="display:none; border: 1px solid #053e5f"></canvas>
    </div>
 </div>