/***************THÊM MỚI NHÀ CUNG CẤP*****************/
.row{
    width: 150px;
}
.row2{
    width: 90px;
}
.form-name{
    width: 600px;
    text-align:center;
    font-size: 20px;
    color:blue;
    padding-top:5px;
    padding-bottom: 5px;
}
/***************Form khác*****************/