@{
    ViewBag.Title = "support";
    Layout = "~/Views/Share/layout.cshtml";
}
@section title { support }
    
<div class="Total_MT">
    <div class="form_the">
        <form method="post" action="@Url.Action("GetInfo", "MuonTra")">
            Mã thẻ: 
            <input type="text" name="mathe" />
            <input type="submit" value="OK" />
        </form>
    </div>     
</div>
